{% extends 'bootstrap.html' %}
{% load static %}
{% block bootstrap4_extra_head %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700&display=swap&subset=korean" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.css">
    <style>
        body {font-family: 'Nanum Gothic', sans-serif !important;}
    </style>
    {% block base_extra_head %}
    {% endblock %}
{% endblock %}

{% block bootstrap4_before_content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand pt-2" href="{% url 'main' %}" style="font-size: 40px; font-weight: bold;">LIKE<span style="color: #F7C142;">LION</span> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="navbar-collapse collapse w-100 order-2 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link mx-3" href="#" style="font-size: 25px; font-weight: bold;">활동 안내</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-3" href="#" style="font-size: 25px; font-weight: bold;">FAQ</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}
{% block bootstrap4_content %}
    <div style="min-height: 70vh;">
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}
{% block bootstrap4_after_content %}
    <div class="footer">
        Copyright @ 2020 Likelion Sogang All rights Reserved
    </div>
{% endblock %}

{% block bootstrap4_extra_script %}
    <script src="https://kit.fontawesome.com/b18b3d95c2.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.js"></script>
    {% block base_extra_script %}
    {% endblock %}
{% endblock %}