{% extends 'base.html' %}
{% block content %}
<style>
#id_q1, #id_q2, #id_q3, #id_q4{
    max-width: 1000px; 
    height:400px; 
    font-size: large;
}
@media (max-width: 600px){
    #id_q1, #id_q2, #id_q3, #id_q4{
    font-size: 15px;
    height: 300px !important;
    padding: 10px !important;
    }
    .h5{
        font-size: 17px;
        line-height: 160%;
    }
    .container{
        padding: 0 28px;
    }
}
</style>
    <div class="pl-md-5 py-3 ml-md-5 mt-5 ml-4" style="font-weight: bold;">
        <h3 style="font-weight: bold;"><span style="color: #f09837;">멋쟁이사자처럼</span><span style="color:#707070;"> 서강대학교</span></h3>
        <h4 style="font-weight: bold; color:#707070;">2020 상반기 리크루팅</h4>
        <h4 style="font-weight: bold; color:#707070;">지원서 작성</h4>
        <div class="border-bottom mr-5" style="max-width: 600px; height: 10px;"></div>
    </div>

<div class="container mt-5">
<form class="mt-3" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group mb-5">
        <label for="id_q1" class="mb-5 h5">1. 지원동기와 활동 목표를 기술하세요. (700자)</label>
        <textarea name="q1" class="form-control p-4" cols="40" rows="10" required="" id="id_q1">{{ application.q1 }}</textarea>
    </div><br>
    <div class="form-group mb-5">
        <label for="id_q2" class="mb-5 h5">2. 타인과 협업했던 경험과 그 과정에서 자신이 수행한 역할에 대해 기술하세요. (700자)</label>
        <textarea name="q2" class="form-control p-4" cols="40" rows="10" required="" id="id_q2">{{ application.q2 }}</textarea>
    </div><br>
    <div class="form-group mb-5">
        <label for="id_q3" class="mb-5 h5">3. IT 서비스로 구현하고 싶은 아이디어에 대해 구체적으로 기술하세요.<br>&nbsp&nbsp&nbsp (서비스가 해결하고자 하는 문제와 핵심 기능, 예상되는 사용자 등을 포함할 것) (800자)</label>
        <textarea name="q3" class="form-control p-4" cols="40" rows="10" required="" id="id_q3">{{ application.q3 }}</textarea>
    </div><br>
    <div class="form-group mb-5">
        <label for="id_q4" class="mb-5 h5">4. 이용했던 서비스 중 인상 깊었던 부분이나 불편했던 점은 무엇이었고, 어떻게 발전/개선하면 좋을지 기술하세요. (700자)</label>
        <textarea name="q4" class="form-control p-4" cols="40" rows="10" required="" id="id_q4">{{ application.q4 }}</textarea>
    </div><br>
    <div class="form-group mb-5">
        <div class="mb-5 h5">5. 본인이 했던 활동이나 프로젝트 중 소개하고 싶은 것이 있다면 자유롭게 첨부해주시기 바랍니다. (필수X, 최대 200MB 파일 1개)</div>
        <label for="id_q5" class="btn btn-lg btn-light btn-outline-dark">
            <input type="file" name="q5" style="display: none;" accept="" id="id_q5" onchange="$('#upload-file-info').html(this.files[0].name)">
            <span>파일 업로드</span>
        </label>
        <span class="label label-info ml-3" id="upload-file-info">{{ application.q5 }}</span>
    </div>

    <div class="text-center my-5 py-5">
        <input class="btn btn-lg btn-light btn-outline-dark" type="submit" value="임시저장하기">
    </div>
</form>
</div>


{% endblock %}

