{% extends 'base.html' %}
{% block content %}

<style>
    .paragraph{
        padding: 0 5%;
        max-width: 1000px;
        line-height:1.9em;
    }

    .a-yellow{
    color:#f09837;
    text-decoration: none !important
    }

    .a-yellow:hover {
    color: #8a551d;
    text-decoration:none
  }

    .sign{
            margin: 30px 5% 30px 0;
    }

    @media (max-width: 600px){
        h1{
            font-size: 20px !important;
        }
        .paragraph{
            padding: 0 7px;
            line-height: 160%;
        }
    }
</style>

<div class="pl-md-5 py-3 ml-md-5 mt-5 ml-4" style="font-weight: bold;">
    <h3 style="font-weight: bold;"><span style="color: #f09837;">멋쟁이사자처럼</span><span style="color:#ff8f66;"> 서강대학교</span></h3>
    <h4 style="font-weight: bold; color:#707070;">2020 상반기 리크루팅</h4>
    <h4 style="font-weight: bold; color:#707070;">FAQ</h4>
    <div class="border-bottom mr-5" style="max-width: 600px; height: 10px;"></div>
</div>

    <div class="container my-5">
        <h3 style="color:black; font-size: 25px; font-weight: 800">Q. 지원 일정을 알려주세요!</h3>
        <p class="paragraph" style="font-size:17px;">
            중앙운영위원회의 권고사항에 따라 일정이 아래와 같이 변경되었습니다. 지원 접수 기간은 3/16(월)부터
            3/22(일) 23:59:59까지 이며 기존의 면접 절차는 화상면접으로 대체할 계획입니다.
            <br>
            · 3.16 - 22    지원서접수<br>
            · 3.23         서류합격 발표<br>
            · 3.25 -27     면접<br>
            · 3.29         최종 합격발표<br>
            · 4.2          OT 및 첫 세션<br>
        </p>
        <br>
    </div>

    <div class="container my-5">
        <h3 style="color:black; font-size: 25px; font-weight: 800">Q. 지원 자격이 어떻게 되나요?</h3>
        <br>
        <p class="paragraph" style="font-size:17px;">
            별도의 지원자격은 없습니다. <br><br>
            두 학기 동안 진행되는 각종 교육 세션 및 팀 프로젝트 활동 참여와 해커톤과 데모데이 등 필수 행사의 참가가 
            가능한 분들은 나이와 학기, 전공에 관계없이 모두 지원하실 수 있습니다.<br>
            단, 합격자는 매주 월, 목요일 세션과 각종 행사에 노트북을 반드시 지참하셔야 합니다.
        </p>
        <br>
    </div>

    <div class="container my-5">
        <h3 style="color:black; font-size: 25px; font-weight: 800">Q. 활동 일정은 어떻게 되나요?</h3>
        <br>
        <p class="paragraph" style="font-size:17px;">
            학기 중에는 매주 월/목 오후 6시 30분부터 9시까지의 정규 세션과 5월 중 1회 이상의 지역 해커톤이 예정되어 있습니다.
            방학 중에는 실제로 아이디어를 구현하는 팀 프로젝트와 중간 발표, 중앙 해커톤 등 프로젝트와 관련된 각종 행사가 진행됩니다.<br>
            자세한 행사 및 활동 개요는 이후 업데이트를 참고해주시기 바랍니다.<br>
        </p>
        <br>
    </div>

    <div class="container my-5">
        <h3 style="color:black; font-size: 25px; font-weight: 800">Q. 저는 프로그래밍 하나도 모르는데요!</h3>
        <br>
        <p class="paragraph" style="font-size:17px;">
            멋쟁이사자처럼은 기본적으로 ‘웹 프로그래밍에 대해 아무것도 모르는 비전공자’를 가정하고 모든 수업 자료와 세션을 구성하고 있습니다.
            따라서 코딩을 한번도 해보지 못한 입문자도 충분히 따라올 수 있으며 코딩 실력은 평가 기준에 반영되지 않으니 고민하지 않으셔도 좋습니다.<br>
        </p>
        <br>
    </div>

    <div class="container my-5">
        <h3 style="color:black; font-size: 25px; font-weight: 800">Q. 지원 전에 따로 준비할 게 있을까요?</h3>
        <br>
        <p class="paragraph" style="font-size:17px;">
            이번 8기부터는 기존의 사전 과제 제출 항목을 폐지할 예정이며 최종합격자에 한해 첫 세션 참석 전 학습 과제가 부여될 수 있습니다. 선발 과정에서 프로그래밍과 관련된 평가는 이루어지지 않으며 자신이 만들고 싶은 아이디어에 대한 서류&면접 평가가 강화되니 이 점 참고하셔서 지원을 준비해주시기 바랍니다.<br>
        </p>
        <br>
    </div>
    <br>
    <br>

<div class="sign text-right">
        <p style="font-size: 17px; line-height:1.7em;">
        문의사항은 멋쟁이사자처럼 서강대학교<br>
        공식 계정과 이메일을 이용해주시기 바랍니다.<br><br>
        E-mail: sogang@likelion.org<br>
        <a class="a-yellow" href="https://www.facebook.com/likelionsogang" style="font-size: 18px; font-weight: bold; ">Facebook</a>
        <a class="a-yellow" href="https://www.instagram.com/likelion_sg/" style="font-size: 18px; font-weight: bold;">Instagram</a>
        <br>
        </p>
        <a class="a-yellow" href="{% url 'main' %}">돌아가기</a>   
</div>

{% endblock %}