{% extends 'base.html' %}
{% block content %}
<style>
    .info{
        margin: 10% 0 0 0;
    }

    .paragraph{
        padding: 0 5%;
    }
</style>

<section>
    <div class="info">
      <div class="info-column">
        <h1 class="text-center" style="font-size: 40px; font-weight: 800">주요 일정</h1>
        <br>
        <p class="paragraph">
          - 서류모집 기간 : 2020.03.02(월) ~ 2020.03.19(목) 21:59<br>
          - 서류합격 발표 : 2020.03.20(금) 18시 <br>
          - 개별면접 일정 : 2020.03.21(토) / 03.22(일) 10시 ~ 20시 <br>
          - 최종합격 발표 : 2020.03.24(화) <br>
          - 고대 멋사 OT : 2020.03.30(월)
          <span class="font--regular font--lion">(필수참여)</span> <br>
        </p>
        <br>
      </div>

      <div class="info-column info-column2">
        <h1 class="text-center" style="font-size: 40px; font-weight: 800">합격자 과제 안내</h1>        <br>
        <p class="paragraph">
          - 3월 24일 최종합격자가 발표되면, 4월 2일 첫 세션까지 과제가 주어집니다.
          <br>- 해당 과제에 대한 내용은 최종 합격일에 안내될 예정입니다.
        </p>
        <br>
      </div>
    </div>
    
</section>

{% endblock %}