{% extends 'base.html' %}
{% block content %}
<style>
    .info{
        margin: 10% 0 0 0;
        color:#707070;
    }

    .info-column{
        margin: 10px 0 0 0;
    }

    .paragraph{
        padding: 0 5%;
    }

    .btn-outline-warning{
    color: #f09837;
    border-color: #f09837;
    }

    .btn-outline-warning:hover {
    color: #fff;
    background-color: #f09837;
    border-color: #f09837;
    }

    .sign{
            margin: 0 0 30px 0;
    }

    .a-yellow{
    color:#f09837;
  }

  .a-yellow:hover {
    color: #8a551d;
    text-decoration:none
  }

</style>

    <div class="pl-5 py-3 ml-5" style="font-weight: bold;">
        <h3 style="font-weight: bold;"><span style="color: #f09837;">멋쟁이사자처럼</span><span style="color:#707070;"> 서강대학교</span></h3>
        <h4 style="font-weight: bold; color:#707070;">2020 상반기 리크루팅</h4>
        <h4 style="font-weight: bold; color:#707070;">활동안내</h4>
        <div class="float-left">
            <hr style="width: 600px;">
        </div>
    </div>

<div class="pl-5 py-3 ml-5">
    <div class="info-column">
        <h1 style="color:black; font-size: 30px; font-weight: 800">주요일정</h1>        <br>
        <p class="paragraph">
            - 서류모집 기간 : 2020.03.16(월) ~ 2020.03.22(일) 23:59<br>
            - 서류합격 발표 : 2020.03.23(월) 16:00<br>
            - 개별면접 일정 : 2020.03.25(수) ~ 03.27(금) 17시 ~ 20시<br>
            - 최종합격 발표 : 2020.03.29(일) 18:00<br>
            - OT 및 첫 세션 : 2020.04.02(월) 18:30<br>
        </p>
        <br>
    </div>

    <div class="info-column">
        <h1 style="color:black; font-size: 30px; font-weight: 800">활동소개</h1>        <br>
        <p class="paragraph">
        멋쟁이사자처럼은 웹 프로그래밍이라는 도구로 자신이 원하는 아이디어를 직접 만들 수 있도록 교육하는 IT 교육 단체입니다.
        </p>
        <br>
    </div>

    <div class="info-column">
        <h1 style="color:black; font-size: 30px; font-weight: 800">연간 커리큘럼</h1>        <br>
        <p class="paragraph">
            커리큘럼
        </p>
        <br>
    </div>

    <div class="info-column">
        <h1 style="color:black; font-size: 30px; font-weight: 800">활동규칙</h1>        <br>
        <p class="paragraph">
            규칙
        </p>
        <br>
    </div>

</div>

<div class="sign text-right">
    <a class="a-yellow" href="{% url 'main' %}">돌아가기</a>    
</div>


{% endblock %}