{% extends 'base.html' %}
{% block content %}
<style>
    .info{
        margin: 10% 0 0 0;
        color:#707070;
    }

    .info-column{
        margin: 10px 0 0 0;
    }

    .paragraph{
        padding: 0 5%;
    }

    .btn-outline-warning{
    color: #f09837;
    border-color: #f09837;
    }

    .btn-outline-warning:hover {
    color: #fff;
    background-color: #f09837;
    border-color: #f09837;
    }

    .sign{
            margin: 0 5% 30px 0;
    }

    .a-yellow{
    color:#f09837;
    }

  .a-yellow:hover {
    color: #8a551d;
    text-decoration:none
  }
  @media (max-width: 600px){
        h1{
            font-size: 22px !important;
        }
        .paragraph{
            padding: 0 7px;
        }
    }
</style>

    </div>
    <div class="pl-md-5 py-3 ml-md-5 mt-5 ml-4" style="font-weight: bold;">
        <h3 style="font-weight: bold;"><span style="color: #f09837;">멋쟁이사자처럼</span><span style="color:#707070;"> 서강대학교</span></h3>
        <h4 style="font-weight: bold; color:#707070;">2020 상반기 리크루팅</h4>
        <h4 style="font-weight: bold; color:#707070;">활동안내</h4>
        <div class="border-bottom mr-5" style="max-width: 600px; height: 10px;"></div>
    </div>

<div class="pl-md-5 px-4 py-3 ml-md-5">
    <div class="info-column">
        <h1 style="color:black; font-size: 40px; font-weight: 800">주요일정</h1>        <br>
        <p class="paragraph">
            - 서류모집 기간 : 2020.03.02(월) ~ 2020.03.19(목) 21:59<br>
            - 서류합격 발표 : 2020.03.20(금) 18시 <br>
            - 개별면접 일정 : 2020.03.21(토) / 03.22(일) 10시 ~ 20시 <br>
            - 최종합격 발표 : 2020.03.24(화) <br>
            - 고대 멋사 OT : 2020.03.30(월)
            <span class="font--regular font--lion">(필수참여)</span> <br>
        </p>
        <br>
    </div>

    <div class="info-column">
        <h1 style="color:black; font-size: 40px; font-weight: 800">주요일정</h1>        <br>
        <p class="paragraph">
            - 서류모집 기간 : 2020.03.02(월) ~ 2020.03.19(목) 21:59<br>
            - 서류합격 발표 : 2020.03.20(금) 18시 <br>
            - 개별면접 일정 : 2020.03.21(토) / 03.22(일) 10시 ~ 20시 <br>
            - 최종합격 발표 : 2020.03.24(화) <br>
            - 고대 멋사 OT : 2020.03.30(월)
            <span class="font--regular font--lion">(필수참여)</span> <br>
        </p>
        <br>
    </div>

    <div class="info-column">
        <h1 style="color:black; font-size: 40px; font-weight: 800">합격자 과제 안내</h1>        <br>
        <p class="paragraph">
            - 3월 24일 최종합격자가 발표되면, 4월 2일 첫 세션까지 과제가 주어집니다.
            <br>- 해당 과제에 대한 내용은 최종 합격일에 안내될 예정입니다.
        </p>
        <br>
    </div>
</div>

<div class="sign text-center">
    <a class="btn btn-outline-warning" href="{% url 'signin' %}">로그인</a> 
    <a class="btn btn-outline-warning" href="{% url 'signup' %}">회원가입</a> 
  
    
</div>


{% endblock %}