{% extends 'base.html' %}
{% block content %}
<style>
    .paragraph{
        padding: 0 5%;
        line-height:1.9em;
    }

    .sign{
        margin: 0 5% 30px 0;
    }

    .a-yellow{
    color:#f09837;
    }

    .a-yellow:hover {
    color: #8a551d;
    text-decoration:none
    }

    @media (max-width: 600px){
        h1{
            font-size: 20px !important;
        }
        .paragraph{
            padding: 0 7px;
        }
    }
</style>

<div class="pl-md-5 py-3 ml-md-5 mt-5 ml-4" style="font-weight: bold;">
    <h3 style="font-weight: bold;"><span style="color: #f09837;">멋쟁이사자처럼</span><span style="color:#ff8f66;"> 서강대학교</span></h3>
    <h4 style="font-weight: bold; color:#707070;">2020 상반기 리크루팅</h4>
    <h4 style="font-weight: bold; color:#707070;">활동안내</h4>
    <div class="border-bottom mr-5" style="max-width: 600px; height: 10px;"></div>
</div>

    <div class="container my-5">
        <h3 style="color:black; font-size: 30px; font-weight: 800">주요 활동 및 일정</h3><br>
        <p class="paragraph" style="font-size:17px;">
            - 정규 세션 : 매주 월/목 오후 6:30 ~ 오후 9:30<br>
            - 정규 팀 프로젝트 : 연간 운영(학기, 방학 포함)<br>
            - OT 및 첫 세션 : 4/2(목) 오후 6:00<br>
            - 5월 해커톤 : 5/9(토) ~ 510(일)<br>
            - 중간 발표 : 6/8(월) 오후 6:00<br>
            - 중앙 해커톤 : 8월 중 실시 예정<br>
            - Demo Day : 12월 초 실시 예정 <br>
        </p>
        <br>
    </div>

    <div class="container my-5">
        <h3 style="color:black; font-size: 30px; font-weight: 800">활동규칙</h3><br>
        <p class="paragraph" style="font-size:17px;">
            1. 멋쟁이사자처럼 서강대학교는 최소 두학기의 활동을 원칙으로 합니다.<br>
            2. 모든 회원은 정규 세션과 정규 팀 프로젝트 활동에 반드시 참여해야 합니다.<br>
            3. 모든 회원은 3회 이상 결석 시 제명되며 제명당한 회원은 이후 멋쟁이사자처럼 서강대학교가 주관하는 활동의 참여가 제한될 수 있습니다.<br>
            4. 출결 결산 방식은 서강대학교 학칙의 관련 규정과 동일하게 적용합니다.(15분 이상 지각, 3회 지각 시 1회 결석과 동일하게 간주)<br>
            5. 결석 3회 시, 서강대학교 학칙에서 인정하는 유고 결석 사유인 경우 1회에 한해 결석 1회를 무효화할 수 있습니다.<br>
        </p>
        <br>
    </div>

    <div class="container my-5">
        <h3 style="color:black; font-size: 30px; font-weight: 800">합격자 과제 안내</h3><br>
        <p class="paragraph" style="font-size:17px;">
            - 최종 합격자에 한해 4/2(목) 첫 세션에 대한 사전 과제가 부여됩니다. <br>
            - 사전 과제 미수행 시 합격이 취소될 수 있습니다. <br>
            - 사전 과제 중 발생하는 문제는 운영팀에게 문의하거나 첫 세션일 1시간 전 디버깅 미팅에서 도움을 받으실 수 있습니다. <br>
        </p>
        <br>
    </div>
    <br>
    <br>

<div class="sign text-right">
    <a class="a-yellow" href="{% url 'main' %}">돌아가기</a>  
</div>

{% endblock %}