{% extends 'base.html' %}
{% block content %}
<style>
  .main-container{
    margin: 10% 0 0 0;
  }
  .button{
    margin-top: 10%;
  }

  .btn-outline-warning{
    color: #f09837;
    border-color: #f09837;
  }

  .btn-outline-warning:hover {
    color: #fff;
    background-color: #f09837;
    border-color: #f09837;
  }

  .a-yellow{
    color:#f09837;
  }

  .a-yellow:hover {
    color: #8a551d;
    text-decoration:none
  }

  .dday{
    padding: 10px 0;
    font-size: 20px;
    color:black;
  }

  #bold, #d-day{
    font-weight: 800;
  }

  .login-box{
    padding: 0 40%;
  }

</style>

<div class="main-container">
  <div class="header">
    <h1 class="text-center" style="font-size: 100px;" id="bold">HACK YOUR LIFE</h1> 
    <h2 class="text-center" sytle="font-size: 60px;" id="bold"><span style="color: #f09837;">멋쟁이 사자처럼</span> 서강대학교 <span style="color: #f09837;">8기</span> 모집</h2>
    <div class="dday text-center">
      <h5>지원시작까지 남은시간</h5>
      <h3 class="text-center" id="d-day"></h3>
    </div>
  </div>


  <div class="signin_bg text-center">
    <form class="form-signin" method="POST" action="">
      {% csrf_token %}

    {% if user.is_authenticated %}<!-- 로그인이 되어있는 상태 -->
          {% if art %}
            <a class="btn btn-outline-warning" href="{% url 'show' %}">지원서 보러가기</a>
          {% else %}
            <a class="btn btn-outline-warning" href="{% url 'new' %}">지원서 작성하기</a>
          {% endif %}
          <br><br>
          <h4 style="color: #707070;">{{user.profile.phone}}님 환영합니다.</h3>
            <a class="a-yellow" style="font-size: 20px;" href="#">회원정보 수정하기 |</a>
            <a class="a-yellow" style="font-size: 20px;" href="{% url 'signout' %}">로그아웃</a>
            <br>
            <br>
      <br><br>

    {% else %}<!-- 로그인이 안 되어있는 상태 -->
      <div class=login-box>
            {% if error %}
            <p class="text-danger">{{ error }}</p>
            {% endif %}
            <label for="{{ f.username.id_for_label }}" class="sr-only">User Name</label>
            <input name="{{ f.username.html_name }}" type="username" id="{{ f.username.id_for_label }}" class="form-control" placeholder="아이디" required="" autofocus="">
            <br>
            <label for="{{ f.password.id_for_label }}" class="sr-only">Password</label>
            <input name="{{ f.password.html_name }}" type="password" id="{{ f.password.id_for_label }}" class="form-control" placeholder="비밀번호" required="">
            <br>
            <input class="btn btn-outline-warning" type="submit" value="로그인">
            <br><br>
            <a class="a-yellow" href="{% url 'signup' %}">회원가입</a>
        </div>
    {% endif %}
  </div>

</div>

<SCRIPT type="text/javascript">
  var countDownDate = new Date("Mar 16, 2020 06:00:00").getTime(); 
  
  var x = setInterval(function() { 
    // 오늘 날짜 등록 
    var now = new Date().getTime(); 
    
    // 종료일자에서 현재일자를 뺀 시간 
    var distance = countDownDate - now; 
    
    // 각 변수에 일, 시, 분, 초를 등록 
    var d = Math.floor(distance / (1000 * 60 * 60 * 24)); 
    var h = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)); 
    var m = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60)); 
    var s = Math.floor((distance % (1000 * 60)) / 1000); 

    if(h<10){
      h = "0"+h;
    }

    if(m<10){
      m = "0"+m;
    }

    if(s<10){
      s = "0"+s;
    }

    //id가 d-day인 HTML코드에 내용 삽입 
    document.getElementById("d-day").innerHTML = d +"일 " + h + " : " + m + " : " + s ; });
</script>
  
{% endblock %}








    
{% endblock %}