{% extends 'base.html' %}
{% block content %}

    <div class="pl-5 py-3 ml-5" style="font-weight: bold;">
        <h3 style="font-weight: bold;"><span style="color: #F7C142;">멋쟁이사자처럼</span><span style="color:#707070;"> 서강대학교</span></h3>
        <h4 style="font-weight: bold; color:#707070;">2020 상반기 리크루팅</h4>
        <h4 style="font-weight: bold; color:#707070;">지원 안내사항</h4>
        <div class="float-left">
            <hr style="width: 600px;">
        </div>
    </div>


    <div class="container my-5">
        <h5>지원시 유의사항</h5>
        <div style="border: 1px solid black; height: 200px; overflow: scroll;">
            loremipsumLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
        </div>
    </div>
    <div class="container my-5">
        <h5>선발 절차</h5>
        <div style="border: 1px solid black; height: 200px; overflow: scroll;">
            loremipsumLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
        </div>
        <div class="mt-3 pl-4">
                    <input type="checkbox" id="jb-checkbox" class="custom-control-input">
        <label class="custom-control-label" for="jb-checkbox">위 사항을 확인하였습니다</label>
        </div>

    </div>



    <div class="text-center">
        <button class="btn btn-light btn-outline-dark">
            <a href="#" style="color: #707070;">지원서 작성하기</a>
        </button>
    </div>

{% endblock %}