{% extends 'base.html' %}
{% block content %}
<style>
    @media (max-width: 600px){
        .row, .phone_row{
            margin-right: 10px;
            margin-left: 10px;
        }
    }
</style>
    <div class="pl-md-5 py-3 ml-md-5 mt-5 ml-4" style="font-weight: bold;">
        <h3 style="font-weight: bold;"><span style="color: #f09837;">멋쟁이사자처럼</span><span style="color:#707070;"> 서강대학교</span></h3>
        <h4 style="font-weight: bold; color:#707070;">2020 상반기 리크루팅</h4>
        <h4 style="font-weight: bold; color:#707070;">정보 수정</h4>
        <div class="border-bottom mr-5" style="max-width: 600px; height: 10px;"></div>
    </div>

    <div class="container my-5">
        <form class="mt-3" method="POST" action="">
            {% csrf_token %}
            <div class="form-group row">
                <label for="lastname" class="col-sm-2 col-form-label">이름</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="lastname" name="last_name">
                </div>
            </div>
            <div class="form-group row">
                <label for="major" class="col-sm-2 col-form-label">전공</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="major" name="major">
                </div>
            </div>
            <div class="form-group row">
                <label for="semester" class="col-sm-2 col-form-label">누적학기</label>
                <div class="col-sm-3">
                    <input type="number" class="form-control" id="semester" name="semester" min="1">
                </div>
            </div>
            <div class="form-group row">
                <label for="phone_num" class="col-sm-2 col-form-label">연락처</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="phone_num" name="phone">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword2" class="col-sm-2 col-form-label">희망 면접일</label>
                <div class="col-sm-3 btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-light btn-outline-dark mr-3">
                        <input name="interview_date" type="radio" value="WED">25(수)
                    </label>
                    <label class="btn btn-light btn-outline-dark mr-3">
                        <input name="interview_date" value="THUR" type="radio">26(목)
                    </label>
                    <label class="btn btn-light btn-outline-dark">
                        <input name="interview_date" value="FRI" type="radio">28(금)
                    </label>
                </div>
                <div class="col-sm-4" style="color: red;">
                    * 희망 면접일은 제출 후 수정할 수 없습니다
                </div>
            </div>
            <div class="phone_row">
                <h6>개인정보 수집 및 동의약관</h6>
                <div style="border: 1px solid black; height: 200px; overflow: scroll;">
                    loremipsumLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                    loremipsumLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                    loremipsumLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                </div>
                <div class="mt-3 pl-4">
                    <input type="checkbox" id="jb-checkbox" class="custom-control-input">
                    <label class="custom-control-label" for="jb-checkbox">위 사항을 확인하였습니다</label>
                </div>
            </div>
            <div class="text-center my-5">
                <input class="btn btn-lg btn-light btn-outline-dark" type="submit" value=수정하기>
            </div>
        </form>
    </div>

{% endblock %}